<div class="mb-4">
  <%= f.label field, class: "form-label" %><br />
  <% if field == :password || field == :password_confirmation %>
    <%= f.password_field field, autocomplete: "new-password", class: "form-input" %>
  <% elsif field == :email %>
    <%= f.email_field field, autofocus: true, autocomplete: "email", class: "form-input" %>
  <% else %>
    <%= f.text_field field, class: "form-input" %>
  <% end %>
</div>