<div class="max-w-6xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  
  <h1 class="text-4xl font-extrabold text-gray-900 mb-10">About Matt's Photography</h1>
  <div class="bg-white p-10 rounded-xl shadow-xl border border-gray-200">
    <div class="flex flex-col md:flex-row gap-10 items-start">
      
      
      <div class="md:w-5/7">
        <p class="text-lg text-gray-700 leading-relaxed mb-4">
          My passion for photography began in childhood, sparked by the joy of taking pictures and the creative challenge of finding the perfect composition. 
          This early fascination has evolved into a professional dedication to crafting compelling, beautifully balanced images.
        </p>

        <p class="text-lg text-gray-700 leading-relaxed">
          I believe that a truly great photograph should not only capture a moment but also evoke the emotion and atmosphere of that scene. 
          My work spans landscapes, wildlife, and commercial portraiture, always focusing on light and composition to bring out the unique beauty in every subject.
        </p>
      </div>

      <div class="md:w-2/7 flex-shrink-0">
        <div class="aspect-square rounded-xl overflow-hidden shadow-xl">
          <%= image_tag 'matt-pro.png', class: "w-full h-full object-cover" %>
        </div>
      </div>
    </div>
  </div>
</div>
