<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">

  <h1 class="text-4xl font-bold text-gray-900 mb-8">
    All Galleries
  </h1>

  <% if @galleries.any? %>
    <%# Main grid for galleries %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      
      <% @galleries.each do |gallery| %>
        <%# Card component %>
        <%= link_to gallery, class: "block rounded-lg shadow-md hover:shadow-xl transition-all overflow-hidden relative h-72" do %>
          
            <div class="absolute inset-0">
                <% if gallery.photos.any? && gallery.photos.first.image.attached? %>
                  <%= image_tag gallery.photos.first.image.variant(resize_to_fill: [400, 300]), class: "h-full w-full object-cover" %>
                <% else %>
                  <div class="h-full w-full bg-gray-200"></div>
                <% end %>
            </div>

            <div class="absolute bottom-0 inset-x-0 p-4 glass-card text-white">
            <h2 class="text-xl font-semibold"><%= gallery.title %></h2>
            <p class="text-sm mt-1 opacity-80"><%= gallery.description %></p>
          </div>
        <% end %>
      <% end %>

    </div>
  <% else %>
    <p class="text-gray-500">No galleries have been created yet.</p>
  <% end %>
</div>