@import "tailwindcss";

@layer components {
  .form-label {
    @apply block text-sm font-medium text-gray-700;
  }
  .form-input {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500;
  }
  .form-checkbox {
    @apply h-4 w-4 text-sm text-gray-900;
  }
  .form-submit {
    @apply w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer;
  }
  .form-card {
    @apply bg-white shadow-md rounded-lg p-8;
  }
  .form-wrapper {
    @apply max-w-md mx-auto;
  }
  .hero-background {
    background-image: url("background-Matt.png");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
}